.App {
  font-family: 'Libre Franklin', sans-serif;
  margin: 0 1rem;
  max-width: 30rem;
}

@media (min-width: 21rem) {
  .App {
    margin: 0 2rem;
  }
}

@media (min-width: 32rem) {
  .App {
    margin: 0 auto;
  }
}

.App p {
  line-height: 1.5em;
}

.App-content {
  background: rgba(255, 255, 255, .75);
  border-radius: 1rem;
  padding: 1rem 2rem;
}

.App-title {
  color: #fff;
  font-size: 3em;
  font-weight: 100;
  text-align: center;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
